<section>
    <header>
        <h1>MUSIC</h1>
    </header>

    <nav class="tab-control">
        <ul>
            <li><a href="" ng-click="youtube = true; spotify = true"><i class="fa fa-spotify fa-2x"
                                                                        aria-hidden="true"></i></a></li>
            <li><a href="" ng-click="youtube = false; spotify = false"><i class="fa fa-youtube fa-2x"
                                                                          aria-hidden="true"></i></a></li>
        </ul>
    </nav>

    <iframe ng-show="spotify" class="spotify"
            src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A4pzi5zRKzT5XQbTFPCz7W2" frameborder="0"
            allowtransparency="true"></iframe>

    <iframe ng-hide="youtube" class="youtube" src="https://www.youtube.com/embed/UG1w71SvdAM" frameborder="0"
            allowfullscreen></iframe>

    <iframe ng-hide="youtube" class="youtube" src="https://www.youtube.com/embed/cci_zPFlkCo" frameborder="0"
            allowfullscreen></iframe>

    <iframe ng-hide="youtube" class="youtube" src="https://www.youtube.com/embed/Yz8emyVLiDQ" frameborder="0"
            allowfullscreen></iframe>

</section>

