/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Anton|Open+Sans:300,400,700|Reem+Kufi');

    /* Default link styling */
    a:link { color:#0271fb; }
    a:visited { color:#bd02fb; }
    a:hover, a:focus { color:#000; }
    a:active { color:#fb0e02; }
    
    
    
/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/


    body {
        /*font-family: 'Reem Kufi', sans-serif;*/
        /*font-family: 'Amatic SC', cursive;*/
        font-family: 'Open Sans', sans-serif;
        background-color: #f5f8fa;
        max-height: 100vh;
        min-height: 100vh;
        width: 100%;
        display: grid;
        grid-template-rows: 14fr 1fr;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
            "left_sidebar center right_sidebar"
            "nav nav nav";
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
    }

    .wrap {
        padding-bottom: 5%;
        height: 100%;
    }

    .main-nav {
        background-color: #095A78;
        text-align: center;
        font-family: 'Reem Kufi', sans-serif;
        font-size: 1.5rem;
        grid-area: nav;
    }

    .red-background{
        background-color: #EE4E36;
    }

    .blue-background{
        background-color: #095A78;
    }

    .purple-background{
        background-color: #652E83;
    }

    .pink-background{
        background-color: #E2687F;
    }

    .main-nav ul {
        padding: 0;
        margin: 0;
    }

    .main-nav ul li {
        display: inline-block;
        padding: 1rem;

    }

    .main-nav ul li a {
        color: #FDF5F2;
        text-decoration: none;
        border-bottom: solid 0.4rem transparent;
    }

    .main-nav ul li a:hover {
        border-bottom: solid 0.4rem #FDF5F2;
    }

    .main-nav ul li a:focus {
        border-bottom: solid 0.4rem #FDF5F2;
    }

    .tab-control {
        padding: 1rem 1rem 1rem 1rem;
    }

    .tab-control ul {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .tab-control ul li {
        display: inline;
        list-style: none;
        padding: 2rem;       
    }

    .tab-control ul li a {
        color: #212121;
    }

    .spotify, .youtube {
        position: relative;
        width: 45rem;
        height: 25.313rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .index-picture {
        height: auto;
        width: 40%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
    }

    header {
        padding: 2rem 2rem 2rem 2rem;
        color: #212121 !important;
    }

    main {
        grid-area: center;
        max-height:100%;
        overflow-y: auto;
        background-color: #FFFFFF;
        border-left: 0.05rem solid #c9c9c9;
        border-right: 0.05rem solid #c9c9c9;
        display: grid;
        grid-template-rows: 1fr 14fr;
        grid-template-areas:
        "header"
        "content";
    }

    main header {
        grid-area: header;
    }

    main section {
        grid-area: content;
        padding: 1rem;
        display: grid;
        width: 100%;
        box-sizing: border-box;
    }

    img {
        width: 100%;
    }

    .about {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
                "about-header about-header"
                "about-description about-description"
                "about-band-picture about-band-members";
    }

    .about-header {
        grid-area: about-header;
    }

    .about-band-description {
        grid-area: about-description;
    }

    .about-band-picture {
        grid-area: about-band-picture;
    }

    .about-band-members {
        grid-area: about-band-members;
        padding: 1rem;
    }

    .news {
        grid-template-rows: auto;
        grid-template-areas:
                "news-header";
    }

    .news-header {
        grid-area: news-header;
    }

    .news-article {
        display: grid;
        grid-template-rows: 1fr 7fr 1fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "news-article-thumbnail news-article-header"
            "news-article-thumbnail news-article-content"
            "news-article-thumbnail news-article-footer";
    }

    .news-article-content {
        grid-area: news-article-content;
        padding: 1rem;
    }

    .news-article-header {
        grid-area: news-article-header;
        padding: 0 1rem 1rem 1rem;
    }

    .news-article-footer {
        grid-area: news-article-footer;
        padding: 1rem;
    }

    .news-article-thumbnail {
        grid-area: news-article-thumbnail;
    }

    ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

    .index {
        background-color: transparent;
    }

    article {
        padding: 2rem;
        margin-bottom: 1rem;
        display: flex;
    }

    .article-thumbnail {
        width: 30%;
    }

    .article-thumbnail img {
        width: 100%;
        height: auto;
    }

    .article-body {
        width: 70%;
        padding-left: 1rem;
    }

    article .article-body header {
        padding: 0;
    }

    article .article-body header span {
        font-weight: 300;
    }

    .news-content {
        padding-top: 1rem;
        height: 6rem;
        line-height: 1.5;
        overflow: hidden;
    }

    .article-content {
        padding: 1rem;
    }

    .two-column {
        display: inline;
        width: 50%;
    }

    article img {
        height: auto;
        width: 100%;
        margin: 0 auto;
    }

    .whole-article {
        height: auto;
    }

    .contact-ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .contact-ul li {
        padding: 1rem;
    }

    dl {
      width: 100%;
      padding: 0;
      margin: 0
    }
    dt {
      float: left;
      width: 50%;
      padding: 0;
      margin: 0
    }
    dd {
      float: left;
      width: 50%;
      padding: 0;
      margin: 0;
    }

/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
        margin-bottom:1em; 
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}