{% extends "layout.html" %}
{% block main %}
<main role="main">


    <header>
        <h1>ABOUT</h1>
    </header>

<section class="about">
    <div class="about-header">
        {% for app_text in app_texts %}{% if "band_name" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}
    </div>
    <div class="about-band-description">
        {% for app_text in app_texts %}{% if "band_description" in app_text.keyword %}{{ app_text.text | safe}}{% endif %}{% endfor %}
    </div>
    <div class="about-band-picture">
        <img src="../static/images/Emerson%20Prime%20-%20Bandfoto.jpg" />
    </div>
    <div class="about-band-members">
        {% for app_text in app_texts %}{% if "band_members" in app_text.keyword %}{{ app_text.text | safe }}{% endif %}{% endfor %}
    </div>
</section>
</main>
{% endblock %}