{% extends "layout.html" %}
{% block main %}
<main role="main">


    <header>
        <h1>ABOUT</h1>
    </header>

<section class="about">
    <div class="about-header">
        <h1>Emerson Prime</h1>
    </div>
    <div class="about-band-description">
        <p>Emerson Prime vereinen in ihren Songs eine ganz eigene Mischung aus Soul, Funk, Hip-Hop und Jazz: manchmal dem guten alten Motown ganz nahe, manchmal sehr modern mit sphärischen Synthie-Pads. Mit ihrer unverwechselbaren rauchig-souligen Stimme zeichnet Erika Emerson, die Berlinerin mit britischen Wurzeln, in ihren englischsprachigen Texten mal direkte, mal abstrakte Bilder vom Leben und der Liebe.</p>
    </div>
    <div class="about-band-picture">
        <img src="../static/images/Emerson%20Prime%20-%20Bandfoto.jpg" />
    </div>
    <div class="about-band-members">
        <p>Erika Emerson - Vocals</p>
        <p>Joschka Merhof - Keys, Voc</p>
        <p>Tobias "T-Drum" Lammers - Drums</p>
        <p>Alex Shirazi - Guitar, Voc</p>
        <p>Simon Lorenz - Bass</p>
    </div>
</section>
</main>
{% endblock %}