{% extends "layout.html" %}
{% block main %}
<main role="main">
<section>

    <header>
        <h1>EVENTS</h1>
    </header>

<article>

    <header>
        <h1>Event Name</h1>
    </header>
    <div class="article-content">
        <dl>
            <dt>Location:</dt>
            <dd>Example</dd>
            <dt>Date:</dt>
            <dd>22.12.1994</dd>
            <dt>Link:</dt>
            <dd><a target="_blank" href="www.google.de">Link</a></dd>
        </dl>
    </div>

    </article>

</section>
</main>
{% endblock %}