<!DOCTYPE html>
<html lang="en"> <!-- Set this to the main language of your site -->
<head>
    <meta charset="utf-8">

    <title>EMERSON PRIME</title>

    <!-- Enter a brief description of your page -->
    <meta name="description" content="">

    <!-- Define a viewport to mobile devices to use - telling the browser to assume that the page is as wide as the device (width=device-width,
    and setting the initial page zoom level to be 1 (initial-scale=1.0), and fixinng width=device-width for iOS9 (shtink-to-fit=no) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">

    <!-- Add normalize.css which enables browsers to render all elements more consistently and in line with modern standards as it only targets particular styles that need normalizing -->
    <link href="../static/css/normalize.css" rel="stylesheet" media="all">
    <!-- For legacy support (IE 6/7, Firefox < 4, and Safari < 5) use normalize-legacy.css instead -->
    <!--<link href="css/normalize-legacy.css" rel="stylesheet" media="all">-->

    <!-- Include the site stylesheet -->
    <link href="../static/css/styles.css" rel="stylesheet" media="all">

    <script src="https://use.fontawesome.com/bfdfbcedeb.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/Controller/HomeController.js"></script>
    <script src="../static/js/Controller/MusicController.js"></script>
    <script src="../static/js/Controller/PhotosController.js"></script>
    <script src="../static/js/Controller/AboutController.js"></script>
    <script src="../static/js/Controller/EventsController.js"></script>

</head>
<body ng-app="emersonAngularApp" ng-controller="MainController">

<!-- The page header typically contains items such as your site heading, logo and possibly the main site navigation -->
<!-- ARIA: the landmark role "banner" is set as it is the prime heading or internal title of the page -->

<main class="view-animate" ng-view></main>

<nav class="main-nav"
     ng-class="{'pink-background': navBgColorPink, 'blue-background': navBgColorBlue, 'purple-background': navBgColorPurple, 'red-background': navBgColorRed}"
     role="navigation">
    <ul>
        <li><a ng-click="RandomiseBackground()" href="/#/">Home</a></li>
        <li><a ng-click="RandomiseBackground()" href="/#/about">About</a></li>
        <li><a ng-click="RandomiseBackground()" href="/#/music">Music</a></li>
        <li><a ng-click="RandomiseBackground()" href="/#/photos">Photos</a></li>
        <li><a ng-click="RandomiseBackground()" href="/#/events">Events</a></li>
        <li><a ng-click="RandomiseBackground()" href="/#/contact">Contact & Social Media</a></li>
    </ul>
</nav>

<nav class="mobile-nav" ng-click="expandNavigation = !expandNavigation"
     ng-class="{'pink-background': navBgColorPink, 'blue-background': navBgColorBlue, 'purple-background': navBgColorPurple, 'red-background': navBgColorRed}"
     role="navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <ul ng-show="expandNavigation">
        <li><a ng-click="RandomiseBackground()" href="/#/">Home</a></li>
        <li><a ng-click="RandomiseBackground()" href="/#/about">About</a></li>
        <li><a ng-click="RandomiseBackground()" href="/#/music">Music</a></li>
        <li><a ng-click="RandomiseBackground()" href="/#/photos">Photos</a></li>
        <li><a ng-click="RandomiseBackground()" href="/#/events">Events</a></li>
        <li><a ng-click="RandomiseBackground()" href="/#/contact">Contact & Social Media</a></li>
    </ul>
</nav>
</body>
</html>
